body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

/*draw neat boxes around the different sections, and separate them by a small margin*/
#projects {
  border: solid olive;
  margin-bottom: 5px;
}

#education {
  border: solid #542521;
  margin-bottom: 5px;
}

#workExperience {
  border: solid #542521;
  margin-bottom: 5px;
  /*here, we also need a small margin on the top*/
  margin-top: 5px;
}
/*the map itself was moved to a different div contained in this one*/
#mapDiv {
 /* height: 400px;
  width: 100%;
  padding-bottom: 5%;*/
  border: solid olive;
  margin-bottom: 5px;
}

/*added max-width to the images in the project section, so they look well on smaller devices*/
.project-image {
  max-width: 100%;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;
}
/*div in the section box but not collapsing, contains the titles and the collapse buttons*/
.above-collapse {
  width: 100%;
  display: inline-block;
}

.section-title {
  float: left;
  margin-top: 10px;
}

/* I used www.bestcssbuttongenerator.com to pick a predefined design that fit for the button*/
.tog-button {
  /*my additions*/
  float: right;
  margin-top: 14px;
  margin-right: 40px;
  width: 100px;
  /*the rest is from the website, i simply changed the gradient and background colors to the dark-gray color
  used at the footer of the page */
  -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4a4a4a), color-stop(1, #6c7c7c));
  background:-moz-linear-gradient(top, #4a4a4a 5%, #6c7c7c 100%);
  background:-webkit-linear-gradient(top, #4a4a4a 5%, #6c7c7c 100%);
  background:-o-linear-gradient(top, #4a4a4a 5%, #6c7c7c 100%);
  background:-ms-linear-gradient(top, #4a4a4a 5%, #6c7c7c 100%);
  background:linear-gradient(to bottom, #4a4a4a 5%, #6c7c7c 100%);
  /*removed due to css checker being unhappy and not necessary*/
 /* filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a4a4a', endColorstr='#6c7c7c',GradientType=0);
  */
  background-color:#4a4a4a;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:11px 10px;
  text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;
}

.tog-button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #4a4a4a));
  background:-moz-linear-gradient(top, #6c7c7c 5%, #4a4a4a 100%);
  background:-webkit-linear-gradient(top, #6c7c7c 5%, #4a4a4a 100%);
  background:-o-linear-gradient(top, #6c7c7c 5%, #4a4a4a 100%);
  background:-ms-linear-gradient(top, #6c7c7c 5%, #4a4a4a 100%);
  background:linear-gradient(to bottom, #6c7c7c 5%, #4a4a4a 100%);
    /*removed due to css checker being unhappy and not necessary*/
/*  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#4a4a4a',GradientType=0);
  */
  background-color:#6c7c7c;
}

.tog-button:active {
  position:relative;
  top:1px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

#skills {
  margin-top: 15px;
  max-width: 65%;
  font-size: 18px;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

#header {
  background-image: url('../images/keyboard.jpg');
  background-color: #484848;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width:525px) {
  .section-title{
    max-width: 100%;
    font-size: 16px;
  }

  .tog-button {
    margin-right:5px;
    width: 70px;
  }

}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

.mapMarker {
  font-family: "Roboto", sans-serif;
  font-size: large;
  color: #542521;
  font-weight: bold;
}

#map {
  display: block;
  height: 400px;
  margin: 0 5%;
}

/*move the map in the collapsable div*/
#collapseMap {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
 /* border: solid olive;
 /* margin-bottom: 5px;*/
}

#collapseMap,
#collapseProjects,
#collapseWork,
#collapseEducation {
  display:none;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  #main {
    width: 1000px;
    margin: auto;
  }
}
